body {
    text-align: center;
    font-family: 'Papyrus', fantasy;
    background-color: gray;
}

h5 {
    text-decoration: underline;
}

#input-field {
    margin-top: 50px;
}

#form {
    border: 1px;
}

#type {
    font-family: 'Papyrus', fantasy;
}

#name-label {
    margin-left: 50px;
}

#date-label {
    margin-left: 50px;
}

#amount-label {
    margin-left: 50px;
}

#button {
    margin-top: 25px;
}