body {
    text-align: center;
    font-family: 'Papyrus', fantasy;
    background-color: gray;
}

h5 {
    text-decoration: underline;
}

.table-container {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.table-body {
    width: 70%;
    text-align: center;
}

#delete-button {
    margin-top: auto;
    margin-bottom: auto;
    height: 25px;
}