body {
    text-align: center;
    font-family: 'Papyrus', fantasy;
    background-color: gray;
}

h5 {
    text-decoration: underline;
}

#delete-button {
    margin-top: auto;
    margin-bottom: auto;
    height: 25px;
}